footer{
   background-color: #ffead0; 
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 20px;

   h3{
    border-bottom: 1px solid;
   }

   .social-links{
    display: flex;
    gap: 10px;
    a {
        text-decoration: none;
        color: black;
    
        &:hover {
            text-decoration: underline;
        }
    }
   }

   
}