
.user-pagename{
    font-weight: bold;
    padding-top: 1em;
}

.data-grid-icon{
    height: 50px;
    width: 50px;
}

.data-grid-actions{
    display: flex;
    gap: 10px;
    
    button{
        background-color: #ff8c38;
        border-radius: 999px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        width: fit-content;
        padding: 5px 15px;
        border: none;

        &:disabled{
            background-color: #aaaaaa;
            cursor: not-allowed;
        }
    }

    .delete-button{
        background-color: #FF0000;
    }
}

.user-action{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .button-column{
        display: flex;
        gap: 20px;
        button{
            background-color: #6750a4;
            border-radius: 999px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            width: fit-content;
            padding: 5px 15px;
            border: none;
        }
    } 
}